@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>vueadmin</title>
    <link href="~/Static/css/app.c21fecc429ed8435472af4f20cc57c5f.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id=app>
    </div>
    <script type="text/javascript" src="~/Static/js/manifest.c49859821e291ec35697.js"></script>
    <script type="text/javascript" src="~/Static/js/vendor.9182a90107ccd9c83207.js"></script>
    <script type="text/javascript" src="~/Static/js/app.5b481a8a85c3a7e29fb3.js"></script>
</body>
</html>