<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net451" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net451" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net451" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net451" />
  <package id="MySql.Data" version="6.8.8" targetFramework="net451" />
  <package id="MySql.Data.Entity" version="6.8.8" targetFramework="net451" />
  <package id="Unity" version="5.8.4" targetFramework="net451" />
</packages>